.sinigangPage {
    padding: 20px;
    margin: 16px 240px 0px 240px; 
    padding-bottom: 32px;
}

.banner {
    flex: 1; 
    display: flex; 
    align-items: center; 
}

.bannerImage {
    width: 100%; 
    height: 100%; 
    object-fit: fill; 
}

.keyInfo {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.infoChips {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid #F0AB1A;
}

.name {
    font-size: 50px;
    margin-top: 10px; 
    margin-bottom: 10; 
    color: #A11015;
}

.ingredientsLabel {
    color: #F0AB1A;
    margin-top: 20px;
    padding-top: 30px;
}

.ingredientsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 16px; 
}

.sinigangList {
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.sinigangList ul {
    list-style-type: none;
    padding: 0;
}

.sinigangList li {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
    flex-wrap: wrap; 
}

h4 {
    margin-bottom: 15px;
}

.ingredientsList input[type="checkbox"] {
    margin-right: 10px; 
    flex-shrink: 0;
}

.stepsDetails {
    display: grid; 
    gap: 16px; 
    padding-right: 16px; 
}

.stepsColumns {
    display: flex; 
    flex-direction: column; 
    padding: 20px;
}

.stepsImage {
    width: 350px; 
    height: auto; 
    margin: 10px 0; 
    object-fit: fill; 
}

.stepsColumns li {
    padding-bottom: 15px;
}

.stepsSection {
    padding-top: 20px;
}

.stepsLabel {
    color: #10254E;
}

.customCheckbox {
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    width: 100%; 
}

.customCheckbox input {
    display: none; 
}

.checkmark {
    width: 20px; 
    height: 20px; 
    border: 2px solid #F0AB1A; 
    border-radius: 4px; 
    margin-right: 10px; 
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.customCheckbox input:checked + .checkmark {
    background-color: #10254E; 
    border: 2px solid #10254E; 
}

.customCheckbox input:checked + .checkmark::after {
    content: ""; 
    width: 10px; 
    height: 10px; 
    border-radius: 2px; 
}
