.container {
    display: flex;
    flex-direction: column;
    width: 32%; 
    max-width: 100%;  /* Ensures the container doesn't exceed its parent's width */
    min-width: 320px;  /* Keeps the container at least 300px wide */
    background-color: var(--white);
    border: var(--yellow) solid 6px;
    border-radius: 15px;
    padding-bottom: 1.5rem;
    box-sizing: border-box;  /* Ensures padding and borders are included in width/height calculation */
}

.imageContainer {
    position: relative; 
    top: 0;
    width: 100%; 
    height: auto; 
}

.image {
    width: 100%; 
    height: auto; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.imageOverlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-image: linear-gradient(180deg, rgba(240, 171, 26, 0.80), rgba(240, 171, 26, 0.25)) ; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.imageContainer:hover .imageOverlay {
    opacity: 1; 
}

.imageOverlayContent {
    position: inherit;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    opacity: 1;
    color: var(--red);
}

.cardHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.headingName{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.headingQty{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.totalCookTime {
    display: block;
    padding: 0rem 1rem .5rem;
    color: var(--blue)
}
    
.ingredientContainer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.ingredientItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 1.5;
}

.strikethrough {
    text-decoration: line-through;
    color: var(--blue);
}

.ingredientsLeft {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    gap: 0.5rem;
    flex: 1;
}

.checkbox{
    accent-color: rgb(60, 226, 226);
}

.ingredientName{}

.ingredientAmount {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    text-align: right;
    white-space: nowrap;
}

.specialtyIcon{
    color: var(--blue);
    flex-shrink: 0;
    vertical-align: middle;
}



  