@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/berkshire-swash@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/berkshire-swash@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Poppins', sans-serif;
}

.heroSection{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
  flex-wrap: wrap;
  background-color: #E98704;
  overflow: hidden;
}
.heroContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.textContainer{
  display: flex;
  flex-direction: column;
  width: 600px;
  position: relative;
  height: 100%;
  margin: auto;
  padding: 20px;
  justify-content: center;
}

.heroHeader{
  font-family: 'Berkshire Swash', cursive;
  font-size: 36px;
  color: white  
}

.heroText{
  padding: 10px;
  color: white;
  font-size: 16px;
}

.shopButton {
  font-family: 'Poppins', sans-serif;
  background-color: #F0AB1A;
  padding:10px;
  width: 250px;
  border-radius: 20px;
  border: 1px;
  border-style: none;
  transition: background-color .55s ease-in-out;
  color: white;
}

.shopButton:hover{
  background-color: #F79824;
  transition: background-color 1s ease-in-out;
  cursor: pointer;
}

.photoContainer{
  display: block;
position: relative;
  width: 700px;
  min-height: 100%;
}

.tocino {
  width: 100%;
  height: 100%; 
}




@media only screen and (max-width: 800px) {
  .heroContainer {
    display: flex;
    flex-direction: column;
  }

  .heroSection {
    height: 600px;
  }

  .photoContainer{
    max-width: 85%;
    margin: auto;
    min-height: 60%;
  }

  .textContainer{ 
    text-align: center;
  }

  .shopButton {
    margin: auto;
  }
}

@media only screen and (max-width: 645px) {
  .textContainer{
    width: 80%;
  }
  .heroHeader {
font-size: 28px;
  }
  .heroText{
font-size: 12px;
  }
}