.recipeCategory {
    /* border: 1px solid #ccc;*/
    border-radius: 8px;
    padding: 10px;
    text-align: center;

}

.categoryImage {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
    overflow: hidden;
}

.thumbnail {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    top: 0; 
    left: 0; 
    padding-bottom: 10px;
    
}

.categoryName {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Koulen', sans-serif;
    color: #A11015;
}

.browseRecipes {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #F0AB1A;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.browseRecipes:hover {
    background-color: #E8A313;
}
