.recipeCategory {
    /* border: 1px solid #ccc;*/
    border-radius: 8px;
    padding: 10px;
    text-align: center;

}

.categoryImage {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(16, 37. 78, 0.5);
}

.thumbnail {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Scale to fill the container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    padding-bottom: 10px;
    
}

.categoryName {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Koulen', sans-serif;
    color: #10254E;
}

.browseRecipes {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #F0AB1A;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.browseRecipes:hover {
    background-color: #E8A313;
}
