.recipeCategory {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;

}

.categoryImage {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
    overflow: hidden; 
}

.thumbnail {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Scale to fill the container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
}

.categoryName {
    padding-top: 20px;
    font-weight: bold;
    font-size: 1rem;

}

.browseRecipes {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #F0AB1A;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.browseRecipes:hover {
    background-color: #E8A313;
}
