.forumContainer {
    margin: 16px auto; 
    padding: 0 16px;
    max-width: 1200px; 
    padding-bottom: 32px;
}

.forumContent {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; 
    padding: 32px;
    gap: 16px; 
}

.sideContainer {
    width: 25%;
    min-width: 250px; 
    padding: 20px;
    font-size: 14px;
    background-color: var(--yellow); 
    border-radius: 15px;
}

.postContainer {
    flex: 1; 
    margin-left: 16px;
}

.description img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 16px;
}

.description > h4 {
    margin: 24px 0;
}

.description {
    padding-bottom: 16px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
    margin: 32px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 32px;
}

.section {
    border: none;
    font-weight: 700;
    color: var(--red);
    font-size: 16px;
    cursor: pointer;
    background-color: var(--yellow);
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding-bottom: 4rem;
    margin-top: 3rem;
}

.heart {
    height: 24px;
    color: var(--red);
}

.save {
    height: 24px;
    width: 24px;
    color: var(--red);
}

.section {
    display: flex;
    align-items: center;
    gap: 8px;
}

h1 {
    color: var(--blue);
    margin: 64px 0px 16px 0px; 
    text-align: center;
}

@media (min-width: 1024px) {
    h1 {
        text-align: left;
        margin-left: 32px;
    }
}


@media (max-width: 1024px) {
    .forumContent {
        flex-direction: column; 
        padding: 24px; 
    }

    .sideContainer {
        width: 95%; 
        margin-bottom: 16px;
    }

    .postContainer {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .forumContainer {
        padding: 0 8px; 
    }

    .description img {
        border-radius: 8px; 
    }

    .tags {
        gap: 6px;
        margin: 24px 0;
        padding-bottom: 24px;
    }

    .section > button {
        font-size: 14px;
    }

    .sections {
        padding-bottom: 2rem;
    }
}

@media (max-width: 480px) {
    .forumContent {
        padding: 16px;
    }

    .tags {
        gap: 4px; 
    }
}