body {
    background-color: #F2EBE0;
}

.recipes {
    padding: 20px;
    margin: 16px auto; 
    max-width: 1200px;
    padding-bottom: 32px;
}

.name {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 10px; 
    color: #A11015;
    text-align: left; 
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    flex-wrap: wrap; 
}

.textSection {
    flex: 1;
    background-color: #F0AB1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    color: black;
    height: auto; 
    box-sizing: border-box; 
}

.imageSection {
    flex: 1;
    display: flex;
    align-items: stretch; 
    justify-content: center;
    height: auto; 
    box-sizing: border-box;
}

.featureImage {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.viewRecipe {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #A11015;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 125px;
    align-self: center; 
}

.viewRecipe:hover {
    background-color: #8F080D;
}

.recipesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 16px;
    padding: 16px;
}

.headingCat {
    color: #10254E;
    margin-top: 50px;
    text-align: center;
}

.recipeCategory {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .thumbnailContainer {
    margin-bottom: 12px;
  }
  
  .thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .recipeName {
    font-size: 18px;
    font-weight: bold;
    color: #10254E;
    margin-bottom: 8px;
  }
  
  .browseRecipes {
    background-color: #A11015;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .browseRecipes:hover {
    background-color: #8F080D;
  }
  

@media (max-width: 768px) {
    .name {
        font-size: 50px; 
    }

    .recipes {
        margin: 16px 20px; 
    }

    .textSection {
        padding: 20px;
    }

    .feature {
        flex-direction: column; 
    }

    .imageSection {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 40px; 
    }

    .textSection {
        padding: 10px;
    }

    .viewRecipe {
        width: 100%; 
        padding: 15px;
    }
}
