.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    min-height: 100vh;
    background-color: var(--background);
    padding: 2rem 12.5%;
    overflow: hidden;
}

.filterHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    height:
}

.filterHeaderRight {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.title {
    display: flex;
    color: var(--blue);
    font-size: 2rem;
}

select {
    display: inline-block;
    min-width: 220px;
    height: 2.9rem;
    background-color: #f3bc48;
    color: var(--black);
    border: 5px solid #f3bc48;
    padding: 10px 12px;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

select::-ms-expand {
    display: none;
}

select::after {
    content: "▼";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
    color: #f3bc48;
}

select option {
    background-color: var;
    color: var(----black);
}

select:hover {
    background-color: #f3bc48;
}

.button:hover {
    background-color: var(--yellow);
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 220px;
    height: 2.5rem;
    background-color: var(--white);
    border: #f3bc48 5px solid;
    border-radius: 12px;
    transition: width 0.3s ease; /* Smooth transition for width change */
}

.search input {
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 15px;
    margin: 0;
    height: 1.3rem;
    min-width: 160px;
    width: 100%; /* Ensure input stretches with the parent */
}

.searchIcon {
    margin: 0 0.5rem;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 1440px) {
    .cardContainer {
        justify-content: center;
    }
}

@media (max-width: 1330px) {
    .title {
        width: 100%;
        justify-content: center;
    }
    .filterHeaderRight {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .filterHeader {
        flex-direction: column;
    }
    .filterHeaderRight {
        flex-wrap: wrap;
    }
    .filterContainer {
        width: 100%;
        height: 3rem;
    }
    .container {
        padding: 2rem 5%;
    }
    .search {
        min-width: 98.5%; 
        width: 98.5%; 
    }
}
