.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.linksList {
    display: flex;
    justify-content: space-between;
    font-family: 'Koulen', sans-serif;
    font-size: 36px;
    gap: 3rem;
}

a {
    color: var(--orange);
    text-decoration: none;
}

a.active {
    color: var(--red);
    text-decoration: none;
}

