.footer {
  background-color: #fdb813; 
  color: #1b1b1b;
  padding: 40px 20px; /* Increased padding for breathing room */
  text-align: center;
  margin-top: 40px;
  box-sizing: border-box;
  width: 100vw;
}

.footerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  justify-content: center; 
}

.footerLinksList {
  margin: 0;
}

.footerLinksLink {
  color: #1b1b1b;
  text-decoration: none;
  font-size: 16px;
}

.footerLinksLink:hover {
  text-decoration: underline;
}
.footerSocial{
  padding: 20px;
}
.footerSocialLink{
  color: #1b1b1b;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}

.footerSocialLink:hover {
  color: #fff;
}

.footerBottom {
  margin-top: 20px;
}

.footerBottomText {
  margin: 0;
  font-size: 14px;
}
