.shareRecipeSection {
  min-height: 1100px;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 25px;
}

.round {
  border-radius: 50%;
  width: 500px;
}

.textContainer {
  text-align: right;
  color: orange;
  padding:5rem;
}

.secretRecipeHeader {
  font-size: 32pt;
  font-family: 'Berkshire Swash', cursive;
  color: #A11015;
}

.shareRecipeText {
  font-family: 'Poppins', sans-serif;
  color: #A11015;
  padding: 15px;
}

.shareButton {
  margin: 25px;
  background-color: #A11015;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  width: 200px;
  color: white;
  margin: auto;
  border-style: none;
  transition: background-color 1s ease-in-out;
}

.shareButton:hover{
  background-color: #710000;
  transition: background-color .55s ease-in-out;
  cursor: pointer;
}

.palabokContainer {
  position: relative;
  justify-content: center;
  padding: 25px;
  display: flex;
}

.palabok {
  max-width: 75%;
  max-height: 500px;
}

@media only screen and (max-width: 800px) {
  .shareRecipeSection{
    width: 100%;
  }
  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0;
  }
  .textContainer{
    margin: auto;
  }
  .round{
    margin: auto;
    width: 80%;
  }
}